/* app css stylesheet */

body {
  padding-top: 50px;
  font-family: 微软雅黑;
}

nav {
  margin-bottom: 10px;
}

.container-fluid {
  margin-top: 10px;
}

.cards {
  list-style: none;
}

.cards li {
  clear: both;
  height: 110px;
  padding-top: 5px;
  border:lightgray solid thin;
}

#shopdistrict {
  background-color:lightgray;
  border:red dashed thin;
}

#shopfunction {
  background-color:lightyellow;
  border:red solid thin;
}

#shoptype {
  background-color:lightblue;
  border:red solid thin;
}

#shopwithdraw {
  background-color:lightpink;
  border:red solid thin;
}

.turnPageButtonArea {
  background-color: #f07a13;
  width: 500px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  /*padding: 20px;*/
}

button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  background-color: lightyellow;
}

.pageNum {
  width: 50px;
  height: 23px;
  text-align: center;
}

.totalPages {
  color: #ffffff
}

#baiduMapView {
  width: 1440px;
  height: 750px;
  display: block;
}
