/* app css stylesheet */

body {
	padding-top: 50px;
	font-family: 微软雅黑;
}

nav {
	margin-bottom: 2px;
}

.page-list 		{ background:#ffffff; color:#00907c; }
.page-about 	{ background:#E59400; color:#a55400; }
.page-contact 	{ background:#ffa6bb; color:#9e0000; }

.container-fluid {
	margin-top: 2px;
}

.cards {
	list-style: none;
	margin-left: -40px;
}

.cards li {
	clear: both;
	height: 110px;
	padding-top: 5px;
	border:lightgray solid thin;
	background-color: aliceblue;
}

.input-group {
	padding-bottom: 10px;
}

.dropdown {
	padding-bottom: 10px;
	color: black;
}

#shopdistrict {
	background-color:lightgray;
	border:red dashed thin;
}

#shopfunction {
	background-color:lightyellow;
	border:red solid thin;
}

#shoptype {
	background-color:lightblue;
	border:red solid thin;
}

#shopwithdraw {
	background-color:lightpink;
	border:red solid thin;
}

.pageNum {
	width: 50px;
	height: 23px;
	text-align: center;
}

.totalPages {
	color: lightsalmon;
}

#baiduMapView {
	width: 1440px;
	height: 750px;
	display: block;
}

