<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 col-lg-2">
			<!-- 搜索 输入后即时搜索当前页面 点击按钮搜索全部数据 -->
			<div class="input-group">
				<input type="text" class="form-control" ng-model="query">
				<span class="input-group-btn">
					<p class="text-center">
						<a href="index.html#search/{{query}}/1" class="btn btn-default">全局搜索</a>
					</p>
				</span>
			</div>

			<!-- 区域下拉列表 -->
			<div class="dropdown">
				<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
					按区域过滤
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-controller="DropdownCtrl">
					<li role="presentation" ng-repeat="district in districts">
						<a role="menuitem" tabindex="-1" href="index.html#district/{{district.abbreviation}}/1">{{district.name}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-10 col-lg-10">
			<!-- 分页显示，每页显示5项 -->
			<ul class="cards">
				<li ng-repeat="shop in shops | filter:query" class="thumbnail">
				<a href="#/{{shop.Longitude}},{{shop.Latitude}}">
					<h4>{{shop.ShopGroup}} - {{shop.ShopName}}</h4>
				</a>
				<p>
				<span id="shopdistrict"><strong>{{shop.District}}</strong></span>
				<span id="shopaddress">{{shop.Address}}</span>
				</p>
				<p>
				<span id="shopfunction">{{shop.Function}}&nbsp;</span>
				<span id="shoptype">{{shop.Type}}&nbsp;</span>
				<span id="shopwithdraw">{{shop.Withdraw}}</span>
				</p>
				</li>
			</ul>

			<!-- 分页控制 -->
			<ul class="pager" ng-controller="ShopIndexCtrl">
				<li><a ng-click="previous()"><span>上一页</span></a></li>
				<li><span class="totalPages">共 {{allPage}} 页</span></li>
				<li><a ng-click="next()"><span>下一页</span></a></li>
				<input type="number" ng-model="currentPage" class="pageNum">
				<li><a ng-click="goToPage()"><span>跳转</span></a></li>
			</ul>

		</div>
	</div>
</div>
